.button {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border-style: none;
}

.button:hover {
  opacity: 0.6;
}

.button_type_add {
  background-image: url("../images/add-button.svg");
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.button_type_edit {
  background-image: url("../images/edit.svg");
  margin: 0;
  margin-left: 18px;
  width: 24px;
  height: 24px;
}

.button_type_like {
  background-image: url("../images/heart-icon.svg");
  min-width: 21px;
  min-height: 18px;
  margin: auto 30px auto 28px;
}

.button_type_like:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 683px) {
  .button_type_edit {
    margin-left: 10px;
  }

  .button_type_add {
    width: 282px;
    margin: 0 0 36px 0;
    background-image: url("../images/add-button-mobile.svg");
  }
}