.cards {
  display: grid;
  padding: 0;
  margin: 0 auto 0 auto;
  grid-template-columns: repeat( auto-fit, minmax(282px, 1fr) );
  width: 68.75%;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 1024px) {
  .cards {
    width: 85%;
  }
}

@media screen and (max-width: 683px) {
  .cards {
    width: 100%;
    column-gap: 0;
  }
}