.footer__copyright {
  color: #545454;
}

@media (min-width: 769px) {
.footer {
    width: 68.75%;
    margin-bottom: 4.93%;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 88.125%;
    margin: 31px auto 36px auto;
  }
}