.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84,84,84,0.7);
  width: 68.75%;
  max-width: 880px;
  height: 10%;
  margin: 0 auto 40px auto;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 85%;
    height: 10%;
    margin: 3.5% auto 3% auto;
  }
}

@media screen and (max-width: 683px) {
  .header {
    width: 100%;
    height: 10%;
    margin: 0;
  }
}