.icons__edit,
.icons__add,
.icons__heart {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.icons__edit:hover,
.icons__add:hover,
.icons__heart:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .icons__edit {
    width: 1.875vw;
    height: 1.875vw;
    margin-left: 18px;
  }

  .icons__add {
    width: 17.045%;
    height: 3.901vw;
    margin: auto 0 auto auto;
    background-image: url("../images/add-button.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .icons__edit {
    width: 18px;
    height: 18px;
  }

  .icons__add {
    width: 88.125%;
    height: 15.625vw;
    margin: auto;
    background-image: url("../images/add-button-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}