.icons__edit,
.icons__add,
.icons__heart {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.icons__edit:hover,
.icons__add:hover,
.icons__heart:hover {
  opacity: 0.6;
}

.icons__edit {
  width: 24px;
  height: 24px;
}

.icons__add {
  width: 150px;
  height: 50px;
  display: flex;
  align-self: center;
}