.profile {
  color: #fff;
  display: flex;
}

.profile__image {
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .profile {
    margin: 0 auto 4.77% auto;
    width: 68.75%;
  }

  .profile__image {
    width: 9.375vw;
    height: 9.375vw;
  }

  .profile__info {
    margin-left: 3.4%;
  }

  .profile__name {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 500;
    font-size: 3.28vw;
    line-height: 114%;
    margin-bottom: 14px;
  }

  .profile__desc {
    font-weight: 400;
    font-size: 1.406vw;
    line-height: 22px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    width: 100%;
  }

  .profile__image {
    width: 37.5%;
    height: 37.5%;
    margin: auto;
  }

  .profile__info {
    margin-top: 30px;
  }

  .profile__name {
    font-weight: 500;
    font-size: 6.875vw;
    line-height: 27px;
    text-align: center;
    margin: 0 2.045% 0 3.41%;
  }

  .profile__desc {
    margin: 14px auto 36px auto;
    font-size: 4.375vw;
  }
}
