.button {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border-style: none;
}

.button:hover {
  opacity: 0.6;
}

.button_type_add {
  background-image: url("../images/add-button.svg");
  margin: 0 0 0 auto;
  width: 150px;
  height: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.button_type_edit {
  background-image: url("../images/edit.svg");
  margin: 0;
  margin-left: 18px;
  min-width: 24px;
  min-height: 24px;
}

.button_type_close {
  background-image: url("../images/close-icon.svg");
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.button_type_like {
  background-image: url("../images/heart-icon.svg");
  min-width: 21px;
  min-height: 18px;
  margin: 0 auto;
  transition: background-image 0.5s ease-in-out;
  position: relative;
}

.button_type_like:hover {
  opacity: 0.5;
}

.button_type_like_filled {
  background-image: url("../images/heart-icon-filled.svg");
}

.button_type_trash {
  background-image: url("../images/trash-button.svg");
  min-width: 18px;
  min-height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.button_type_image {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  padding: 0;
  background-color: rgba(0,0,0,0);
  border-style: none;
}

@media screen and (max-width: 1024px) {
  .button_type_edit {
    min-width: 18px;
    min-height: 18px;
  }
}

@media screen and (max-width: 683px) {
  .button_type_edit {
    margin-left: 0;
    margin-right: 34px;
  }

  .button_type_close {
    min-width: 26px;
    min-height: 26px;
    right: 0;
  }

  .button_type_add {
    width: 282px;
    margin: 0 0 36px 0;
    background-image: url("../images/add-button-mobile.svg");
  }
}